# Ignore Python cache files and directories
__pycache__/
*.py[cod]
*$py.class
venv/

.venv/
Computer_Vision/Tensorflow/testData/
Computer_Vision/Tensorflow/video_output
Computer_Vision/Tensorflow/videos
Computer_Vision/Tensorflow/datasets/
Computer_Vision/Tensorflow/output/
Computer_Vision/Tensorflow/.venv/

Computer_Vision/Mediapipe/ImageOutput/
Computer_Vision/Mediapipe/Images
Computer_Vision/Mediapipe/VideoOutput
Computer_Vision/Mediapipe/datasets/
Computer_Vision/Mediapipe/videos/
Computer_Vision/Mediapipe/validationDataset/
Computer_Vision/Mediapipe/validatedOutput/
Computer_Vision/Mediapipe/validate_report.txt
Computer_Vision/Mediapipe/validate.png
Computer_Vision/Mediapipe/test/
Computer_Vision/Mediapipe/output.mp4
Computer_Vision/Mediapipe/FINAL.csv
Computer_Vision/Mediapipe/frontal_data.csv
Computer_Vision/Mediapipe/FINAL2.csv
Application/env
Application/ITP_WEBAPP/env
Application/ITP_WEBAPP/appvenv/
env
**/.env

env
